*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
*.p12
*.jks
*.keystore
*.key
*.cert
*.der
captures/
.externalNativeBuild
.cxx
local.properties
